body {
	font-family: Arial, sans-serif;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

nav {
	margin-bottom: 20px;

	a {
		margin: 0 10px;
		text-decoration: none;
		color: blue;
	}
}